

.item{
    display: flex;
    align-items: center;
   &:hover{
     background-color: rgba($color: grey, $alpha:0.5);
     a{
        text-decoration: underline;
     }
   }
   a{
    display: flex;
    text-decoration: none;
    align-items: center;
   }

   
    h4{
        font-size: 20px;
        margin-left: 15px;
    }
}
