.paper{
    display: flex;
    gap:10px;
    height: 200px;
   position: relative;
    
    .container{
        flex: 1;
        border-radius: 15px;
        margin-bottom: 10px;
        overflow: hidden;
        transition: 0.3s;
        &:hover{
            transform: scale(1.1,1.1);
        }
    img{
        height: 100%;
        width: 1005;

    }
    span{
        position: absolute;
        bottom: 20px;
        left:10px;
        color:white
    }
}
}